#footer-nav-fixed
    margin-top: 4em
    height: auto
    background: darken($dark-color, 3%)
    left: 0
    width: 100%
    position: absolute
    padding: 2rem 0 4rem 0
    .copyright-text
        font-size: .8em
        display: inline-block
        font-weight: 400
        color: $paragraph-text
        margin: 0

.footer-nav-block
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    align-items: baseline
    text-transform: uppercase
    margin: 0 auto
    max-width: 75%
    color: $paragraph-text
    hr
        display: none
    .social-list-block
        list-style-type: none
        margin: 0
        padding: 0
        .social-list-header
            display: inline-block
            margin: 0 1.5em 0 0
            &::after
                content: ' |'
                color: $highlight-color

        .social-icons
            display: inline-block
            li:nth-of-type(n+2)
                margin-left: 1.5em
            a
                height: 30px
                width: 30px
                text-decoration: none
                margin-bottom: -.5em

@media (max-width: 635px)
    #footer-nav-fixed
        .footer-nav-block
            display: block
            margin: 0 auto

        .copyright-text, .social-list-header
            margin: 0 auto 1.2rem auto
            display: block
            text-align: center
        hr
            display: block
            border: 1px solid lighten($dark-color, 5%)
            width: 80%
            margin: 2rem auto 2rem auto

        .social-list-block
            display: block
            text-align: center
            margin: 0 auto
            .social-icons
                a:nth-of-type(n+2)
                    margin-left: 1.5em
