#header--nav-fixed
    display: block
    margin: 0 auto
    max-width: 95%
    height: 4em
    color: $header-text
    padding: 5% 0 15% 0
    .nav--brand-static
        font-size: 1.4em
        font-weight: 600
        text-align: left
        padding: 0
        margin: 0
        .text--secondary-thin
            font-weight: 200
        &:after
            content: '_'
            color: $highlight-color
            font-weight: 200

    .nav--list-inline
        margin: .2em 0
        display: inline-block
        padding: 0
        float: right
        .nav--list-items
            list-style-type: none
            display: inline-block
            text-align: right
            &:nth-child(1n+1)
                margin-left: 20px
        .nav--list-items-toggle
            display: none



@media (max-width: 481px)
    #header--nav-fixed
        display: block
        margin: 0 auto
        max-width: 95%
        .nav--brand-static
            font-size: 1.2em
            font-weight: 600
            text-align: center
            padding: 0
            margin: 0 auto
            .text--secondary-thin
                font-weight: 200
            &:after
                content: '_'
                color: $highlight-color
                font-weight: 200

        .nav--list-inline
            margin: 0
            display: inline-block
            .nav--list-items
                display: none
            .nav--list-items-toggle
                font-size: 1.5em
                list-style-type: none
                display: inline-block
                text-align: right
