#header--nav-fixed
    display: block
    margin: 0 auto
    max-width: 95%
    height: 4em
    color: $header-text
    padding: 5% 0 5% 0
    .nav--brand-static
        font-size: 1.4em
        font-weight: 600
        text-align: left
        padding: 0
        margin: 0
        .text--secondary-thin
            font-weight: 200
        &:after
            content: '_'
            color: $highlight-color
            font-weight: 200

    .nav--list-inline
        margin: .2em 0
        display: inline-block
        padding: 0
        float: right
        .nav--list-items
            cursor: pointer
            list-style-type: none
            display: inline-block
            text-transform: uppercase
            text-align: right
            &:nth-child(1n+1)
                margin-left: 20px
            &:hover
                color: darken($header-text, 20%)
        .nav--list-items-toggle
            display: none

#drop-down-nav
    display: none

@media (max-width: 684px)
    #header--nav-fixed
        display: block
        margin: 0 auto
        max-width: 100%

        .nav--brand-static
            font-size: 1.2em
            font-weight: 600

        .nav--list-inline
            margin: 0
            display: inline-block
            .nav--list-items
                display: none
            .nav--list-items-toggle
                cursor: pointer
                font-size: 1.5em
                list-style-type: none
                display: inline-block
                text-align: right
                &:hover
                    color: darken($header-text, 20%)

    #drop-down-nav
        display: none
        text-align: center
        position: absolute
        left: 0
        width: 100%
        background: $dark-color
        z-index: 1
        .nav-list-dropdown
            margin: 0
            list-style-type: none
            padding: 0
            li
                width: 100%
                position: relative
                cursor: pointer
                list-style-type: none
                text-transform: uppercase
                padding: 1.4em
                &:hover
                    background: lighten($dark-color, 3%)
                    border-right: 3px solid $highlight-color
