/* Document Layout Elements */
.block-section
    color: $header-text
    margin: 0 auto
    max-width: 100%

.block--section-image
    display: flex
    flex-direction: row
    justify-content: space-between

.image-large
    width: 66%
    max-width: 66%
    min-width: 33%
    display: inline-block
    overflow: hidden
    box-sizing: border-box
    margin: 0 0 1% 0
    background-position: center center

.image-small
    width: 33%
    max-width: 33%
    min-width: 17.5%
    display: inline-block
    overflow: hidden
    box-sizing: border-box
    margin: 0 0 1% 0


.float-right
    float: right

.float-left
    float: left
