/* Main typography requirements */

h1, h2
    display: inline-block
    font-weight: 200
    letter-spacing: .1em

.block-section
    h2
        font-size: 1.8em
        text-transform: uppercase
        margin-bottom: 2rem
        &::after
            content: '_'
            color: $highlight-color

.about-section, .contact-section
    display: inline-block
    p, h3
        font-size: 1.3em
        font-weight: 200
        color: $paragraph-text
        line-height: 1.7rem
        letter-spacing: .01em
        margin: 0 0 2rem 0
